
.App {
  text-align: center;
}
#container{
  background-image: url(./photos/background.png);
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}
.App-link {
  color: #61dafb;
}

#h1{
  width: 514px;
  height: 120px;
  color: white;
  font-size: 66px;
  width: 804px;
  height: 120px;
  font-weight: 600;
  line-height: 56px;
}
#new{
  width: 323px;
  height: 58px;
  color: white;
  font-size: 24px;
width: 523.85px;
height: 58px;
font-weight: 600;
}
#teams{
  color: white;
  position: absolute;
  width: 87px;
  height: 60px;
  font-size: 40px;
  font-weight: 800;
  margin-left: 140px;
}
#product{
width: 68px;
height: 28px;
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 28px;
align-items: center;
text-align: center;
color: #FFFFFF;

}
#servers{
  width: 64px;
  height: 28px;
  font-style: normal;
  font-weight: 700;
font-size: 16px;
line-height: 28px;
display: flex;
align-items: center;
text-align: center;
color: #FFFFFF;
}
#contact{
width: 60px;
height: 28px;
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 28px;
display: flex;
align-items: center;
text-align: center;
color: #FFFFFF;

}
#login{
width: 47px;
height: 28px;
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 28px;
display: flex;
align-items: center;
text-align: center;
color: #FFFFFF;

 }
#getacc{
  height: 58px;
  width: 128px;
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  border: 2px solid #FFFFFF;
  background-color: transparent;
  color: #FFFFFF;
  border-radius: 10px;
  display: flex;
  justify-content: center;
}
#profilepage{
  background-color: #FFFFFF;
  width: 100vw;
  height: 100vw;
}
#bottom{
  text-align: left;
  display: flex;
  flex-direction: column;
  height: 300px;
  justify-content: space-between;
  text-align: left;
  position: absolute;
  top: 30%;;
  left: 10%;
}
#log{
  display: flex;

}
#logginbutton{
  color: #FFFFFF;
}
#href{
  display: flex;
  align-items: center;
  width: 600px;
  justify-content:right;
  position: absolute;
  right: 5%;
}
#buttongetacc{
  background-color: #0BBEF2;
  width: 163px;
  height: 60px;
  border: none;
  border-radius: 10px;
  margin-left: 10px;
  color: white;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
} 
#text{
  width: 316px;
  height: 60px;
}
#dot{
  font-size: 14px;
  color: #0BBEF2;
  margin-left: 4px;
}
#head{
  height: 90px;
}
.firstss{
  display: flex;
  flex-direction: row;

}
.text-one{
  position: absolute;
  top: 1400px;
  left: 270px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 400px;
}
.href{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 600px;
}
.header-one{
  width: 403px;
  height: 120px;
  font-size: 53px;
  font-weight: 800;
  line-height: 60px;

}
.words-one{
  width: 470px;
  height: 145px;
  font-size: 23px;
  font-weight: 600;
  line-height: 29px;
  text-align: left;
}
.learnmore{
  text-align: left;
  font-weight: 700;
  font-size: 16px;
  line-height: 28px;
  text-decoration-line: underline;
  color: #4DA0FD;
}
.picture-one{
  background-image: url(./photos/meetings.png);
  width: 880px;
  height: 1055px;
  position: absolute;
  right:0px;
  top: 1200px;
  background-repeat: no-repeat;
  background-size: cover;
}
.picture-second{
  background-image: url(./photos/big-index.png);
  width: 830px;
  height: 880px;
  position: absolute;
  left: 0;
  top: 2400px;
  background-repeat: no-repeat;
  background-size: cover;
}
.text-second{
  position: absolute;
  top: 2600px;
  right: 670px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 400px;
}
.picture-third{
  background-image: url(./photos/big-index-2.png);
  width: 830px;
  height: 880px;
  position: absolute;
  right: 0;
  top: 3480px;
  background-repeat: no-repeat;
  background-size: cover;

}
.text-third{
  position: absolute;
  top: 3700px;
  left: 270px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 400px;
}
.whatpsau{
  position: absolute;
  top: 4500px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  font-weight: 800;
  font-size: 48px;
  line-height: 60px;
  
}
.cards{
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 4700px;
  width: 2200px;
  justify-content: space-between;
  overflow: scroll;
}
.card{
  width: 700px;
}
.first{
  width: 420px;
  height: 380px;
  box-shadow: 6px 10px 10px 6px grey;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: left;
  padding-left: 15px;

}
.first_bottom{
  display: flex;
  flex-direction: row;
}
.wordsss{
  display: flex;
  width: 400px;
  text-align: left;
}
.bottom{
  position: absolute;
  top: 5400px;
  background: #252B3B;
  width: 2237px;
  height: 336px;
  display: flex;
  flex-direction: row;
}
.rights{
  display: flex;
  flex-direction: column;
  margin-left: 300px;
  margin-top: 80px;
  text-align: left;
  justify-content: space-between;
  height: 240px;
}
.middles{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 670px;
  margin-left: 300px;
  margin-top: 80px;
  text-align: left;
}
.lefts{
  display: flex;
  flex-direction: column;
  margin-left: 300px;
  margin-top: 80px;
  text-align: left;
  justify-content: space-between;
  height: 120px;
}
.Use-coses{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 200px;
}
.Explope{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 200px;
}
.resources{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 200px;
}
.teams{
  width: 87px;
  height: 60px;
  font-size: 40px;
  font-weight: 800;
}
.te{
  display: flex;
  flex-direction: row;
}


/* .container-dark{ 
  width: 100vw;
  height: 100vh;
  background-color: #222529;
}

.container-light{ 
  width: 100vw;
  height: 100vh;
  background-color: white;

} */